.calculator {
  width: 10rem;
  margin: auto;
}

.key-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0.1rem;
}

.key-box:hover {
  background-color: antiquewhite;
}

.key-box:active {
  background-color: aquamarine;
}

.display-box {
  border: 1px solid black;
  width: 9rem;
  height: 3rem;
}
